div(id="wrapper")
    div(id="header")
       h1
         img(src="/images/logo.png",width="235", height="78")
       div(id="nav")
            a(href="/") Home
            a(href="/event/add") add event
            a(href="/event/list") events
     div(class="clear")
     div(id="headline")
       h2 Add An Event
     div(id="body")
      div(id="body-left")
        - if(form)
           there were errors
        p Add Your Event Here
        form(method="post")
          fieldset
            p
            legend Add Event
            legend Event Title:
            p
              input(name="title",placeholder="event title",width=200)
            legend Venue:  
            p
            input(name="venue",placeholder="add a venue name")  
            legend Event Body:
            p
              textarea(cols=40,rows=10, name="content", value="")
            p
            div(id="map" )
            p
            legend Location:
            select(name="county")
               option(value="53.34156,-6.257347,dublin") Dublin
               option(value="52.25227,-7.127206,waterford") Waterford
               option(value="51.8978719,-8.4710874,cork") Cork
            input(name="longitude", type="hidden")
            input(name="latitude", type="hidden")   
            p
            legend Start Date
            input(type="text", name="startdate", class="date", placeholder="add start date")
            p
            legend End Date
            input(type="text", name="enddate", class="date", placeholder="add end date")

          p.buttons
            input(type="submit", value="Save")
      div(id="body-right")
        
