form(method="post")
          fieldset
            p
            legend Register:
            legend Username:
            p
              input(name="username",placeholder="choose a username",width=200)
            p
            legend password:
                input(name="password",placeholder="add a password",width=200, type="password")